{% extends 'basic_app/base.html' %}
  {% load staticfiles %}
  {% block body_block %}
    <div class="jumbotron">
        <h1>School Detail</h1>
        <div class="detail">
          <p>Name : {{ school.name }}</p>
          <p>Principal : {{ school.principal }}</p>
          <p>Location : {{ school.location }}</p>
          <h3>Students At {{ school.name }} </h3>
          {% for student in school.students.all %}
          <p>{{ student.name }} is {{ student.age }} Years old </p>
          {% endfor %}
        </div>
        <div class="container">
          <p> <a class="btn btn-warning" href="{% url 'basic_app:update' pk=school.pk %}">Update School</a> </p>
        </div>
    </div>
  {% endblock %}
